<h1>Show All Books</h1>
<div class="row">


<%books.forEach(e=>{%>
    <div class="col-md-4">
 <div class="card container" style="width: 18rem;">
        <div class="card-body">
            <h5>Author: <%= e.author%></h5>
            <p class="card-text"><strong>Title:</strong> <%= e.title%></p>
            <p class="card-text"><a href="/books/<%= e._id%>" class="btn btn-primary btn-sm">Check out book</a></p>
        </div>
    </div>
   
    
   
</div>
<%})%>
</div>


