
    
    <form action="/orders/addOrder" method="GET">
        <button>Add Orders</button>
    </form>

    <%data.forEach(e=>{%>
        <h2>Book: <%= e.book %></h2>
        <h2>Book ID : <%= e.bookId %> </h2>
        <h2>Quantity: <%= e.qty %></h2>
       
        
        <form action="/orders/<%= e._id%>" method="GET">
            <button>Show Order</button>
        </form>
    <%})%>
            
